
.DS_Store
Frydge/Frydge.xcodeproj/xcuserdata/davidlee.xcuserdatad/xcschemes/xcschememanagement.plist
Frydge/Frydge.xcodeproj/project.xcworkspace/xcuserdata/davidlee.xcuserdatad/UserInterfaceState.xcuserstate
